body {
  overflow: hidden;
}

header {
  -webkit-app-region: drag;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
}
header h1 {
  cursor: default;
  margin-top: 5px;
  -webkit-user-select: none;
}

div#module-container {
  position: relative;
  width: 890px;
  height: 550px;
  margin: 50px 0px 0px -10px;
  overflow: auto;
}

/* Meta buttons */
button {
  -webkit-app-region: no-drag;
}
button.meta {
  position: fixed;
  top: 15px;
  z-index: 999;
  width: 20px;
  height: 20px;
  padding: 0px 2px 2px 2px;
  margin: 0px;
  font-size: 20px;
  line-height: 10px;
}
button#close {
  left: 15px;
}
button#minimize {
  left: 45px;
}

/* Calendar */
table#wcalendar {
  width: 100%;
}
table#wcalendar tr:nth-child(even) {
  background-color: #EEEEEE;
}
table#wcalendar td, th {
  height: 60px;
  border-right: 1px solid #DDDDDD;
}
table#wcalendar th {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0px 5px 5px 5px;
  vertical-align: text-top;
  text-align: right;
  font-weight: normal;
  font-size: 24px;
  width: 43px;
}
table#wcalendar th span.ampm {
  font-size: 16px;
}
div.wcalendar-event {
  width: 118px;
  position: absolute;
}