body {
  overflow: hidden;
}

header {
  -webkit-app-region: drag;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
}

header h1 {
  cursor: default;
  margin-top: 5px;
  -webkit-user-select: none;
}

/* Content requires two wrappers for vertical, horizontal centering */
div#main-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
div#main {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -450px;
  margin-top: -300px;
  text-align: center;
  width: 900px;
  height: 600px;
  border-radius: 4px;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,.5);
}

div#module-container {
  position: absolute;
  left: 5px;
  top: 25px;
  width: 890px;
  height: 550px;
  overflow: hidden;
}
div#module-group {
  position: absolute;
  top: 0px;
  left: 0px;
}
div.module {
  position: absolute;
  width: 890px;
  height: auto;
  overflow: auto;
}
div#schedule {
  position: relative;
  height: 550px;
  overflow: auto;
}

/* Meta buttons */
button {
  -webkit-app-region: no-drag;
}

button.meta {
  position: fixed;
  top: 34px;
  width: 13px;
  height: 13px;
  padding: 0px 2px 2px 2px;
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;
  border-radius: 100px;
}
button#close {
  left: 26px;
  color: #ff4342;
  background-color: #ff4342;;
}
button#close:hover {
  color: #830000;
}

button#minimize {
  left: 45px;
  color: #fab903;
  background-color: #fab903;
}
button#minimize:hover {
  color: #a35403;
}
