/* Calendar */
table#wcalendar {
  width: 100%;
}
table#wcalendar tr:nth-child(even) {
  background-color: #EEEEEE;
}
table#wcalendar td, th {
  height: 60px;
  border-right: 1px solid #DDDDDD;
}
table#wcalendar td {
  width: 118px;
}
table#wcalendar th {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0px 5px 5px 5px;
  vertical-align: text-top;
  text-align: right;
  font-weight: 300;
  font-size: 24px;
  width: 43px;
}
table#wcalendar th span.ampm {
  font-size: 16px;
}
div#day-label-container {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 50;
  width: 830px;
  font-size: 15px;
  color: #333;
}
div.day-label1 {
  display: inline-block;
  border-right: 1px solid #DDD;
  padding-right: 5px;
  width: 118px;
  text-align: right;
}
div.day-label2 {
  display: inline-block;
  border-right: 1px solid #DDD;
  padding-right: 5px;
  width: 119px;
  text-align: right;
}
div.wcalendar-event {
  padding: 3px 0px 0px 0px;
  border-radius: 3px;
  width: 117px;
  position: absolute;
  overflow: hidden;
  line-height: 1.25;
  cursor: pointer;
}

div.wcalendar-event span.title {
  font-size: 13px;
}

div.wcalendar-event span.time {
  font-size: 11px;
}
div.wcalendar-event span.place {
  font-size: 11px;
}

/* Sidebar */
div#sidebar {
  position: absolute;
  bottom: 0px;
  right: -150px;
  z-index: 51;
  width: 150px;
  height: 550px;
  border-left: 2px solid #BBBBBB;
  background-color: #FFFFFF;
}

div.course-info {
  position: relative;
  margin: 15px 0px 0px 0px;
}
div.course-info div.color {
  position: absolute;
  top: 3px;
  left: 24px;
  width: 15px;
  height: 15px;
  border-radius: 7px;
}
div.course-info span.title {
  font-size: 15px;
  font-weight: bold;
}
div.course-info span.type {
  font-size: 12px;
}
div.course-info span.number {
  font-size: 10px;
}