div#settings-module {
  padding: 20px 0px;
}

div.settings-label {
  display: inline-block;
  text-align: right;
  width: 60%;
  height: 50px;
  padding-right: 10px;
}
div.settings-option {
  display: inline-block;
  text-align: left;
  width: 39%;
  height: 50px;
  padding-left: 10px;
}

div.checked {
  background-color: #FF0000;
  border: 1px solid green;
}
div.toggle-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0px;
  border: 2px solid #FF0000;
  border-radius: 5px;
  cursor: pointer;
}
