div#settings-module {
  padding: 20px 0px;
}

span.settings-label {
  padding-right: 10px;
}
span.settings-option {
  padding-left: 10px;
}

div.checked {
  background-color: #FF0000;
  border: 1px solid green;
}
div#toggle-button {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 0px;
  border: 2px solid #FF0000;
  border-radius: 5px;
  cursor: pointer;
}
